@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');




*{
    margin: 0;
    padding: 0;
}



body{
    width: 100%;
    height: auto;
    background-color: hsla(14, 45%, 36%, 0.28);
    font-family: outfit, sans-serif;
    justify-items: center;
}

.card{
    background-color: white;
    width: 600px;
    padding: 100px auto;
    margin: 100px auto;
    border-radius: 15px;
    height: 1600px;
    text-align: justify;
}


.preparation{
    padding: 25px 15px 30px 35px;
    margin: 0px 25px 25px; 
    height: 90px;
    line-height: 1.5;     
    border-radius: 10px;
    background-color: hsl(330, 100%, 98%);
    
}





.Tdata{
    color: hsl(14, 45%, 36%);
    font-family: outfit, sans-serif;
    font-weight: bold;
}



.ingredients li::marker{
    color: hsl(14, 45%, 36%) 
}

.section{
    margin: 2px 36px 26px 36px; 
    line-height: 1.5;
    
}

.section2{
    border: 1px solid black;
    border-style: hidden;
    line-height: 1.5;
    margin: auto 25px;

}

.subhead2{
    margin: 0px 0px 0px 20px;
    padding-bottom: 15px;
}

.subhead3{
    padding-bottom: 5px;
    margin: auto 0px; 
    color:hsl(332, 51%, 32%);
}

.instructions li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
} 

.header{
    border: 1px solid red;
    border-style: hidden;
}



img{
    border-radius: 15px;
    width: 550px;
    margin: 25px 25px;
}    

hr.d1{
    border-bottom: 0px solid hsl(30, 18%, 87%);
    width: 525px;
    margin: 20px 20px 20px;
}

table, tr, td{
    border-collapse: collapse;
    border-bottom: 1px solid hsl(30, 18%, 87%);
    padding: 10px;
    margin: auto;
    font-family: outfit, sans-serif;
}

.Tdata, :last-child{
border-bottom: none;
}

.Tdata2, :last-child{
border-bottom: none;
}

p{
    margin: 25px;
    font-family: outfit, sans-serif;
    font-size: 16px;
}

.nutrition p{
    font-family: outfit, sans-serif;
    margin: 0px;
    line-height: 1.5;
    
}

h1{
    font-family: "Young serif", serif;
    font-weight: 400;
    color: black;
    margin: 25px;
    padding: -25px 0px 20px 0px;
}

h2{
    margin: auto;
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
    font-weight: 400;
    
}
